html {
    font-size: 62.5%; 
}

body {
    margin: 0;
    font-family: sans-serif;
    background-color: #e9e9f1; 
    color: #1a1a1a;
    min-height: 100vh;
    font-size: 1.6rem;
}

.main-layout-container {
    width: 100%;
    min-height: 100vh;
    background-color: #DBDCF8; 
    display: flex;
    flex-direction: column;
    padding-bottom: 0; 
}



.app-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 3rem; 
    background-color: #939AAA; 
    border-bottom: 1px solid #ddd;
    box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.05);
}

.header-profile {
    font-size: 1.6rem;
    font-weight: bold;
    color: #4a4a4a;
}

.header-nav a {
    text-decoration: none;
    color: #5d67e0; 
    font-size: 1.5rem; 
    font-weight: 500;
    margin-left: 2rem;
    transition: color 0.2s;
}

.header-nav a:hover {
    color: #3b429d;
}
.app-main-content {
    flex-grow: 1; 
    padding: 3rem;
}



.app-footer {
    padding: 1.5rem 3rem;
    display: flex;
    justify-content: center; 
    align-items: center;
    gap: 2rem;
    color: #5d67e0;
    font-size: 2.4rem;
    border-top: 1px solid #eee;
    background-color: #939AAA;
}

.info-block {
    background-color: #d7d7e9; 
    padding: 2rem;
    border-radius: 0.8rem;
    margin-bottom: 3rem;
    box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.05);
}

.info-block h2 {
    font-size: 1.8rem;
    color: #3b429d;
    text-align: center;
    margin-top: 0;
    margin-bottom: 1.5rem;
}

.info-block ul {
    list-style-type: disc;
    padding-left: 2.5rem;
    margin: 0;
    color: #4a4a4a;
}
.info-block li {
    margin-bottom: 0.5rem;
}



.columns-container {
    display: flex;
    gap: 3rem;
}

.backend-column, .frontend-column {
    flex: 1; 
    background-color: #f0f0f5; 
    padding: 2rem;
    border-radius: 0.8rem;
    box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.05);
}

.backend-column h3, .frontend-column h3 {
    font-size: 1.6rem;
    color: #5d67e0; 
    text-align: center;
    margin-top: 0;
    margin-bottom: 1.5rem;
}

.backend-column .lists-group {
    display: flex;
    justify-content: space-around; 
}

.backend-column ul, .frontend-column ul {
    list-style: none; 
    padding: 0;
    margin: 0;
    color: #4a4a4a;
}

.backend-column li, .frontend-column li {
    margin-bottom: 0.5rem;
}



@media (max-width: 768px) {
    .columns-container {
        flex-direction: column;
    }
}