.main-content-wrapper {
    display: flex;
    flex-direction: column; 
    gap: 2rem; 
    padding: 0 1rem; 
}


.filters-sidebar {
    width: 100%;
    flex-shrink: 0;
    padding: 2rem;
    background-color: #f0f0f5; 
    border-radius: 0.8rem; 
    box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.05);
    height: auto; 
}


.filter-heading {
    font-size: 1.6rem;
    color: #5d67e0;
    margin-top: 2rem;
    margin-bottom: 1rem;
}
.search-block {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 2rem;
    padding: 0.5rem 1rem;
    border: 1px solid #ddd;
    margin-bottom: 2rem;
}
.search-block input {
    border: none;
    flex-grow: 1;
    padding: 0.5rem 1rem;
    outline: none;
    font-size: 1.6rem;
}
.tags-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.tag, .like-filter-btn {
    font-size: 1.4rem;
    padding: 0.8rem 1.5rem;
    border-radius: 2rem;
    cursor: pointer;
    border: none;
    transition: background-color 0.2s;
    background-color: #d7d7e9; 
    color: #4a4a4a;
}
.tag.active {
    background-color: #5d67e0; 
    color: white;
    font-weight: bold;
}
.like-filter-btn:hover {
    background-color: #c0c0d9;
}
.posts-area {
    flex-grow: 1; 
}
.post-list-header {
    font-size: 2.4rem;
    color: #3b429d;
    margin-top: 0;
    margin-bottom: 2rem;
}


.posts-grid {
    display: grid;
    grid-template-columns: 1fr; 
    gap: 2rem; 
}

@media (min-width: 768px) {
    .main-content-wrapper {
        flex-direction: row; 
        gap: 3rem;
        padding: 0 3rem;
    }

    .filters-sidebar {
        width: 25rem; 
        height: fit-content; 
    }
    
    .posts-grid {
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    }
}