.tags-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.tag {
    font-size: 1.4rem;
    padding: 0.8rem 1.5rem;
    border-radius: 2rem;
    cursor: pointer;
    border: none;
    transition: background-color 0.2s;
    background-color: #d7d7e9; 
    color: #4a4a4a;
}

.tag.active {
    background-color: #5d67e0; 
    color: white;
    font-weight: bold;
}